@import "tailwindcss";

@tailwind utilities;

@layer base {
    body {
        font-family: "Inter", sans-serif;
        @apply bg-slate-50 text-slate-900;
    }
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-20px) rotate(15deg);
    }
}
